<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Pycom configuration settings</h1>
    <hr>
    <div class="content">
    <form method="post">
        <!-- test -->
        <p>
            <b><label for="MAC">Device MAC address</label></b>
        </p>
        <p>
            <input type="text" name="MAC"  placeholder="MAC">
        </p>
        <p>
            <b><label for="transmission">Transmission Rate</label></b>
        </p>
        <p>
            <input type="text" name="transmission"  placeholder="Transmission rate">
        </p>
        <h4>Sensor Rates</h1>
        <p>
            <input type="text" name="acc_rate"  placeholder="Acceleration rate">
        </p>
        <p>
            <input type="text" name="light_rate"  placeholder="Light rate">
        </p>
        <p>
            <input type="text" name="temp_rate"  placeholder="Temperature rate">
        </p>
        <p>
            <input type="text" name="hum_rate"  placeholder="Humidity rate">
        </p>
        <p>
            <input type="text" name="alt_rate"  placeholder="Altitude rate">
        </p>
        <p>
            <input type="text" name="bat_rate"  placeholder="Battery voltage rate">
        </p>
        <p>
            <input type="text" name="roll_rate"  placeholder="Roll rate">
        </p>
        <p>
            <input type="text" name="pitch_rate"  placeholder="Pitch rate">
        </p>


        <p>
            <b><label for="degree">Degree</label></b>
        </p>
        <p>
            <input id="degree-0" name="degree" required type="radio" value="Important">
            <label for="degree-0">Important</label>
        </p>
        <p>
            <input id="degree-1" name="degree" required type="radio" value="Unimportant">
            <label for="degree-1">Unimportant</label>
        </p>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>
